@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="text-center mt-4">
            <h1 style="color:mediumvioletred">Welcome to My System</h1>
        </div>
    </div>
</div>